@using Microsoft.AspNetCore.Identity
@using RateYourEntertainment.Auth
@using Microsoft.AspNetCore.Authorization
@model HomeViewModel
@inject SignInManager<ApplicationUser> SignInManager
<div class="row">
</div>
@await Html.PartialAsync("_Index", Model)