<h2 class="special">Contact Rate Your Entertainment</h2>
<p class="special">If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="info@@rateyourentertainment.com" content="Contact us"></email>