@{
    ViewBag.Title = "Some Data Using LINQ";
}
<div class="row special">
    Liczba recenzji w zależności od gry:
    <ul>
        @foreach (var item in Model)
        {
            <li class="special">
                @item.GetType().GetProperty("Name").GetValue(item, null): @item.GetType().GetProperty("Count").GetValue(item, null)
            </li>
        }
    </ul>
</div>
