@model Game

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailURL" alt="">
        <div class="caption">
            <h3 class="pull-right">abc</h3>
            <h3>
                <a asp-controller="Game" asp-action="Details" asp-route-id="@Model.GameId">@Model.Name</a>
            </h3>
            <p>@Model.ShortDescription</p>
        </div>
    </div>
</div>